*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    display: flex;
    align-items: center;
    left: 20px;
    padding: 20px;
    background: rgb(220,20,60);
    text-decoration: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: list-item;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 50px;
  }
  .about-section{
    text-align: justify;
    background-image: radial-gradient(#fff, #ffb0b0);
  }*/
  a{
    text-decoration: none;
    color: #ffffff;
  }
  .navback{
    text-decoration: none;
      display: inline-block;
      background: #f5fffa;
      color: #ff0000;
      padding: 10px 10px;
      margin: 30px 0;
      border-radius: 30px;
      transition: 0.5s;
  }
  .navback:hover{
      background: #0011ff;
      color: #fffaf0;
  }
  body{
    background-image: radial-gradient(#fff, #ffb0b0);
  }
  h1{
    text-align: center;
    color: #ff0000;
  }
  h1::before{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    background: #ff0000;
    position: absolute;
    left: 15%;
    top: 33.5%;
  }
  h1::after{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    background: #ff0000;
    position: absolute;
    right: 15%;
    top: 33.5%;
  }
  h3{
    color: #000;
  }
  .inner-container{
    text-align: justify;
    padding-left: 260px;
    padding-top: 45px;
  }
  .head{
    padding-right: 15px;
    padding-top: 30px;
  }
  .sir{
    color: #ff0000;
  }
  .sir:hover{
    color: #0011ff;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: linear-gradient(#fff, #ffb0b0);
  }
  body{
    text-align: left;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
  .navbar{
    display: flex;
    align-items: center;
    left: 20px;
    padding: 20px;
    background: rgb(220,20,60);
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: list-item;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 50px;
  }
  .active, nav ul li:hover
  {
    background: #692a2a;
    padding: 10px 10px;
    border-radius: 2px;
  }
  .sec-0{
    padding: 10px 60px;
  }
  .sec-1{
    padding: 10px 60px;
  }
  .sec-2{
    padding: 10px 60px;
  }
  .sec-3{
    padding: 10px 60px;
  }
  .sec-4{
    padding: 10px 60px;
  }
  .strap{
    padding-left: 500px;
    background: #dc143c;
    color: #000;
  }
  .navbar{
    display: flex;
    align-items: center;
    left: 20px;
    padding: 20px;
    background: rgb(220,20,60);
  }
  .body-2{
    max-width: 1700px;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1{
    text-align: center;
    color: #ff0000;
  }
  h1::before{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    background: #ff0000;
    position: absolute;
    left: 15%;
    top: 33.5%;
  }
  h1::after{
    content: " ";
    display: block;
    width: 200px;
    height: 2px;
    background: #ff0000;
    position: absolute;
    right: 15%;
    top: 33.5%;
  }
  h2{
    color: #ff3b3b;
  }
  .body-2{
    padding-right: 85px;
    padding-left: 85px;
  }
  
  /*donor */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(220,20,60);
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: list-item;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .active, nav ul li:hover
  {
    background: #ff5e7e;
    padding: 10px 10px;
    border-radius: 2px;
  }
  .sub-menu-1
  {
    display: none;
  }
  nav ul li:hover .sub-menu-1
  {
    display: block;
    position: absolute;
    /*width: 150px;
    display: list-item;
    position: relative;*/
    background: rgb(220,20,60);
    margin-top: 15px;
    margin-left: -15px;
  }
  nav ul li:hover .sub-menu-1 ul
  {
    color: #dc143c;
    display: list-item;
    position: absolute;
    margin: 10px;
    display: block;
    margin: 10px;
  }
  nav ul li:hover .sub-menu-1 ul li
  {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
  }
  nav ul li:hover .sub-menu-1 ul li:last-child
  {
    border-bottom: none;
  }
  nav ul li:hover .sub-menu-2
  {
    display: block;
    position: absolute;
    width: 150px;
    display: list-item;
    position: relative;
    background: rgb(220,20,60);
    margin-top: 15px;
    margin-left: -15px;
  }
  nav ul li:hover .sub-menu-2 ul
  {
    color: #dc143c;
    display: list-item;
    position: absolute;
    margin: 10px;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
  p{
    color: 	#dc143c;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img{
    max-width: 100%;
    padding: 20px 25px;
  }
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #DD0004;
  }
  .btn{
    display: inline-block;
    background: #dc143c;
    color: #fff;
    padding: 10px 6px;
    margin: 20px 15px;
    border-radius: 20px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: 5px;
  }
  .btn:hover{
    background: #6dd14b;
    color: #000;
  }
  .footer-col-3{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #dc143c;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
  }
  .footer-col-3:hover{
    background: #81018f;
    text-emphasis-color: #000;
  }
  
  .btn{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    background: #dc143c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(255, 43, 43, 1), 0 0 0 0 rgba(196, 26, 77, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .btn::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    background-color: #c41a4d;
    background-image: linear-gradient(225deg, #fae825 0%, #fa2525 50%, #fc8a0f 100%);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  .btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 43, 43, 1), -10px 10px 25px 0 rgba(196, 26, 77, 1);
  }
  .btn:hover::after{
    transform: rotate(150deg);
  }
  .btn:hover{
    background: #000;
    color: #fffaf0;
  }
  .footer-col-3{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #dc143c;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(255, 43, 43, 1), 0 0 0 0 rgba(196, 26, 77, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .footer-col-3::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    background-color: #c41a4d;
    background-image: linear-gradient(225deg, #fae825 0%, #fa2525 50%, #fc8a0f 100%);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  .footer-col-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 43, 43, 1), -10px 10px 25px 0 rgba(196, 26, 77, 1);
  }
  .footer-col-3:hover::after{
    transform: rotate(150deg);
  }*/
  .header{
    background: #fff;
  }
  .header .row{
    margin-top: 70px;
  }
  .centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  html{
    background: url("aboutus.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  */
  .footer{
    background: #000;
    color: #8a8a8a;
    font-size: 16px;
    padding: 10px 10px 10px 20px;
  }
  .footer-col-1{
    color: #f8f8ff;
  }
  .foot{
    color: #f8f8ff;
  }
  
  /*donor reg*/
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body{
    text-align: center;
    color: #000;
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  p{
    color: #A52A2A;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .formsection{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    align-items: center;
    padding-left: 550px;
    padding-right: 550px;
  }
  .navback1{
    text-decoration: none;
      display: inline-block;
      background: #ff0000;
      color: #fff;
      padding: 10px 10px;
      margin: 30px 0;
      border-radius: 30px;
      transition: 0.5s;
  }
  .navback1:hover{
      background: #00008B;
      color: #fff;
  }
  .btn1{
    display: inline-block;
    background: #fff;
    color: #ff0000;
    padding: 8px 2px;
    margin: 20px 10px;
    border-radius: 30px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: 5px;
  }
  .btn1:hover{
    background: #00008B;
    color: #fff;
  }
  .btn2{
    display: inline-block;
    background: #fff;
    color: #ff0000;
    padding: 8px 2px;
    margin: 20px 10px;
    border-radius: 30px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: 5px;
  }
  .btn2:hover{
    background: #00008B;
    color: #fff;
  }
  .select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  .label{
    color: #fff;
  }
  
  /*index*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    display: flex;
    align-items: center;
    left: 20px;
    padding: 20px;
    background: rgb(220,20,60);
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: list-item;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 50px;
  }
  .active, nav ul li:hover
  {
    background: #692a2a;
    padding: 10px 10px;
    border-radius: 2px;
  }
  .sub-menu-1
  {
    display: none;
  }
  nav ul li:hover .sub-menu-1
  {
    display: block;
    position: absolute;
    width: 150px;
    display: list-item;
    position: relative;
    background : rgb(220,20,60);
    margin-top: 10px;
    margin-left: -15px;
  }
  nav ul li:hover .sub-menu-1 ul
  {
    color: #dc143c;
    display: list-item;
    position: absolute;
    margin: 10px;
    display: block;
    margin: 10px;
  }
  nav ul li:hover .sub-menu-1 ul li
  {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
  }
  nav ul li:hover .sub-menu-1 ul li:last-child
  {
    border-bottom: none;
  }
  nav ul li:hover .sub-menu-2
  {
    display: block;
    position: absolute;
    width: 150px;
    display: list-item;
    position: relative;
    background: rgb(220,20,60);
    margin-top: 15px;
    margin-left: -15px;
  }
  nav ul li:hover .sub-menu-2 ul
  {
    color: #dc143c;
    display: list-item;
    position: absolute;
    margin: 10px;
  }*/
  a{
    text-decoration: none;
    color: #ffffff;
  }
  p{
    color: 	#dc143c;
  }
  .container{
    max-width: 1700px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2{
    flex-basis: 50%;
    min-width: 500px;
  }
  .col-2 img{
    max-width: 100%;
    padding: 20px 25px;
  }
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #DD0004;
  }
  .btn{
    display: inline-block;
    background: #dc143c;
    color: #fff;
    padding: 10px 15px;
    margin: 20px 35px;
    border-radius: 20px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: px;
  }
  .btn:hover{
    background: #0011ff;
  }
  .footer-col-3{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #dc143c;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
  }
  .footer-col-3:hover{
    background: #0011ff;
  }
  /*
  .btn{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    background: #dc143c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(255, 43, 43, 1), 0 0 0 0 rgba(196, 26, 77, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .btn::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    background-color: #c41a4d;
    background-image: linear-gradient(225deg, #fae825 0%, #fa2525 50%, #fc8a0f 100%);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  .btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 43, 43, 1), -10px 10px 25px 0 rgba(196, 26, 77, 1);
  }
  .btn:hover::after{
    transform: rotate(150deg);
  }
  /*.btn:hover{
    background: #000;
    color: #fffaf0;
  }
  .footer-col-3{
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #dc143c;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(255, 43, 43, 1), 0 0 0 0 rgba(196, 26, 77, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .footer-col-3::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    background-color: #c41a4d;
    background-image: linear-gradient(225deg, #fae825 0%, #fa2525 50%, #fc8a0f 100%);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  .footer-col-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 43, 43, 1), -10px 10px 25px 0 rgba(196, 26, 77, 1);
  }
  .footer-col-3:hover::after{
    transform: rotate(150deg);
  }*/
  .header{
    background: #fff;
  }
  .header .row{
    margin-top: 70px;
  }
  .centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*---
  html{
    background: url("aboutus.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  */
  .footer{
    background: #000;
    color: #8a8a8a;
    font-size: 16px;
    padding: 10px 10px 10px 20px;
  }
  .footer-col-1{
    color: #f8f8ff;
  }
  .foot{
    color: #f8f8ff;
  }
  .webchat-intro{
    padding: 15px 500px;
    font-size: 20px;
  }
  .call{
    padding-left: 120px;
    color: #dc143c;
  }
  .read:hover{
    color: #dc143c;
  }
  .web{
    background-image: radial-gradient(#fff, #ffb0b0);
  }
  
  .web{
    background: #ffb0b0;
  }
  

  /*new*/
  /*register*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body{
    text-align: center;
    color: #fff;
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  p{
    color: #A52A2A;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .formsection{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    align-items: center;
    padding-left: 550px;
    padding-right: 550px;
    color: #fff;
    background-color: #720000;
  }
  .navback1{
    text-decoration: none;
      display: inline-block;
      background: #ff0000;
      color: #fff;
      padding: 10px 10px;
      margin: 30px 0;
      border-radius: 30px;
      transition: 0.5s;
  }
  .navback1:hover{
      background: #00008B;
      color: #fff;
  }
  .btn1{
    display: inline-block;
    background: #fff;
    color: #ff0000;
    padding: 8px 2px;
    margin: 20px 10px;
    border-radius: 30px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: 5px;
  }
  .btn1:hover{
    background: #00008B;
    color: #fff;
  }
  .btn2{
    display: inline-block;
    background: #fff;
    color: #ff0000;
    padding: 8px 2px;
    margin: 20px 10px;
    border-radius: 30px;
    transition: 0.5s;
    flex-basis: 50%;
    min-width: 5px;
  }
  .btn2:hover{
    background: #00008B;
    color: #fff;
  }
  .select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  .label{
    color: #fff;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    align-items: center;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  #blood_groups
  {
      position:absolute;
      padding-left: 10px;
      left: 435px;
      top: 375px;
      width: 295px;
      padding-left: 135px;
      height: 44px;
      border-radius: 5px;
  }
  
  .select_title
  {
      position:absolute;
      top: 342px;
      font-size: 19px;
      font-weight: 500;
  }
  
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 1px 1px;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #ec8947, #e6702c);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #ee5122, #dd3f00);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  









  